@layer reset, base, tokens, recipes, utilities;

.heading-wrapper {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.anchor-icon {
  margin-left: 8px;
}
.search {
  transition-duration: 300ms;
  background: white;
  border-radius: 8px;
}

.search:not(:has(.pagefind-ui__hidden)) {
  padding: 16px;
  border-radius: 16px;
}
