@layer reset, base, tokens, recipes, utilities;

.heading-wrapper {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.anchor-icon {
  margin-left: 8px;
}
.search {
  transition-duration: 300ms;
  background: white;
  border-radius: 8px;
}

.search:not(:has(.pagefind-ui__hidden)) {
  padding: 16px;
  border-radius: 16px;
}

/* リンクカードのスタイル */
.link-card {
  margin: 1.5rem 0;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  overflow: hidden;
  width: fit-content;
  height: auto;
  min-width: 600px;
  max-width: 1000px;
  max-height: 250px;
  display: flex;
  flex-direction: row;
  transition:
    background-color 0.1s ease,
}
/* 背景を少し暗く */
.link-card:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/* グリッドレイアウト - デフォルトスタイル */
.link-card-grid .link-card-grid-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  overflow: hidden;
}

/* 画像 - デフォルト */
.link-card-grid .link-card-image-container img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.link-card-grid .no-image {
  background-color: #f0f0f0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-card-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.link-card-content h4 {
  margin: 0 0 0.5rem;
  font-size: 1.1rem;
}

.link-card-site {
  display: block;
  font-size: 0.8rem;
  color: #999;
}

/* .spotify-embed {
  width: 500px;
  height: 80px;
  border-radius: 8px;
  overflow: hidden;
} */
