---
import "@/styles/global.css";
import Layout from "@/layouts/BlogPost.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { ContentContainer } from "@/components/common/ContentContainer";
---

<BaseLayout>
  <ContentContainer widthLimit>
    <Layout
      id="about"
      title="About"
      slug="about"
      author="nasubi"
      createdAt={new Date()}
      updatedAt={new Date()}
      description="test test"
      tags={["test", "test"]}
      thumbnail="https://content.nasubi.dev/assets/nasubi-new.webp"
      headings={[
        {
          depth: 1,
          text: "test",
          slug: "test",
        },
        {
          depth: 2,
          text: "test",
          slug: "test-1",
        },
        {
          depth: 3,
          text: "test",
          slug: "test-2",
        },
      ]}
    >
      <img
        src="https://content.nasubi.dev/assets/nasubi-new.webp"
        alt="nasubi"
      />
      <p>test test</p>
    </Layout>
  </ContentContainer>
</BaseLayout>
