---
import Search from "./Search.astro";
import { css } from "@styled-system/css";
import { HStack, styled as p } from "@styled-system/jsx";
import { SITE_TITLE } from "@/consts";
import { Button } from "@/components/common/Button";
import TwitterIcon from "../../public/MdiTwitter.svg";
import GithubIcon from "../../public/MdiGithub.svg";
import SearchIcon from "../../public/MdiMagnify.svg";
import { SearchModal } from "@/components/SearchModal.tsx";

// URLのパスを取得 (https://nasubi.dev/products/ -> products)
const currentPath = new URL(Astro.request.url).pathname
  .replace(/^\//, "")
  .replace(/\/$/, "")
  .split("/")[0]
  .replace(/-/g, " ");
---

<header>
  <nav class={css({ margin: { base: "20px", md: "30px" } })}>
    <HStack
      width="calc(100%)"
      maxWidth="1200px"
      minWidth="320px"
      margin="30px auto"
      padding="20px"
      gap="1em"
      alignItems="center"
      justifyItems="center"
      justifyContent="space-between"
      bg="nsb.bg-overlay"
      borderRadius="8px"
      borderWidth="1px"
      borderColor="nsb.bg-on"
      boxShadow="0 0 10px rgba(0, 0, 0, 0.1)"
    >
      <!-- currentPathがhrefと一致していたら無効 -->
      <p.a
        href="/"
        fontSize="lg"
        fontWeight="bold"
        sm={{ fontSize: "2xl" }}
        aria-disabled={currentPath === "" ? "true" : "false"}
        data-active={currentPath === "" ? "true" : "false"}
        css={{
          "&[data-active=true]": {
            pointerEvents: "none",
            opacity: "0.7",
            cursor: "default",
          },
        }}
      >
        {SITE_TITLE}
      </p.a>

      <p.div visibility="collapse" ml={"auto"} md={{ visibility: "visible" }}>
        <HStack gap="1em">
          <p.a
            href="/posts/"
            aria-disabled={currentPath === "posts" ? "true" : "false"}
            data-active={currentPath === "posts" ? "true" : "false"}
            css={{
              "&[data-active=true]": {
                pointerEvents: "none",
                opacity: "0.7",
              },
            }}
          >
            <Button variant="light">Posts</Button>
          </p.a>
          <p.a
            href="/products/"
            aria-disabled={currentPath === "products" ? "true" : "false"}
            data-active={currentPath === "products" ? "true" : "false"}
            css={{
              "&[data-active=true]": {
                pointerEvents: "none",
                opacity: "0.7",
              },
            }}
          >
            <Button variant="light">Products</Button>
          </p.a>
          <p.a
            href="/about/"
            aria-disabled={currentPath === "about" ? "true" : "false"}
            data-active={currentPath === "about" ? "true" : "false"}
            css={{
              "&[data-active=true]": {
                pointerEvents: "none",
                opacity: "0.7",
              },
            }}
          >
            <Button variant="light">About</Button>
          </p.a>
        </HStack>
      </p.div>
      <p.div visibility="visible" md={{ visibility: "collapse" }} ml="auto">
        <Button variant="filled" size="md"> menu </Button>
      </p.div>

      <SearchModal client:load />

      <p.div visibility="collapse" lg={{ visibility: "visible" }}>
        <Button variant="none" size="sm" id="search-button" client:load>
          <Search />
        </Button>
      </p.div>

      <p.div visibility="collapse" md={{ visibility: "visible" }}>
        <HStack>
          <p.div
            visibility="collapse"
            md={{ visibility: "visible" }}
            lg={{ visibility: "collapse" }}
          >
            <Button
              variant="none"
              size="sm"
              ml="auto"
              id="search-button-mobile"
            >
              <SearchIcon
                width="28px"
                height="28px"
                fill="currentColor"
                class={css({ margin: "0 0.5em" })}
              />
            </Button>
          </p.div>
          <p.a href="https://twitter.com/nasubi_dev" target="_blank">
            <TwitterIcon
              width="32px"
              height="32px"
              fill="currentColor"
              class={css({ margin: "0 0.5em" })}
            />
          </p.a>
          <p.a href="https://github.com/nasubi-dev" target="_blank">
            <GithubIcon
              width="32px"
              height="32px"
              fill="currentColor"
              class={css({ margin: "0 0.5em" })}
            />
          </p.a>
        </HStack>
      </p.div>
    </HStack>
  </nav>
</header>
