---
import HeaderLink from "@/components/HeaderLink.astro";
import Search from "./Search.astro";
import { css } from "@styled-system/css";
import { HStack, styled as p } from "@styled-system/jsx";
import { SITE_TITLE } from "@/consts";
import { Button } from "@/components/common/Button";
import TwitterIcon from "../../public/MdiTwitter.svg";
import GithubIcon from "../../public/MdiGithub.svg";
---

<header>
  <nav class={css({ marginLeft: "auto", marginRight: "auto" })}>
    <HStack
      width="100%"
      maxWidth="1200px"
      minWidth="320px"
      margin="30px auto"
      padding="20px"
      gap="1em"
      alignItems="center"
      justifyItems="center"
      justifyContent="space-between"
      bg="nsb.bg-overlay"
      borderRadius="8px"
      borderWidth="1px"
      borderColor="nsb.bg-on"
      boxShadow="0 0 10px rgba(0, 0, 0, 0.1)"
    >
      <p.a href="/" fontSize="lg" fontWeight="bold" sm={{ fontSize: "2xl" }}>
        {SITE_TITLE}
      </p.a>

      <p.div visibility="collapse" ml={"auto"} md={{ visibility: "visible" }}>
        <HStack gap="1em">
          <p.a href="/">
            <Button href="/" variant="light">Home</Button>
          </p.a>
          <p.a href="/blog/">
            <Button href="/blog/" variant="light">Blog</Button>
          </p.a>
          <p.a href="/products/">
            <Button href="/products/" variant="light">Products</Button>
          </p.a>
          <p.a href="/about/">
            <Button href="/about/" variant="light">About</Button>
          </p.a>
        </HStack>
      </p.div>
      <p.div visibility="visible" md={{ visibility: "collapse" }} ml="auto">
        test
      </p.div>

      <p.div visibility="collapse" lg={{ visibility: "visible" }}>
        <Search />
      </p.div>

      <p.div visibility="collapse" lg={{ visibility: "visible" }}>
        <HStack>
          <p.a href="https://twitter.com/nasubi_dev" target="_blank">
            <TwitterIcon
              width="32px"
              height="32px"
              fill="currentColor"
              class={css({ margin: "0 0.5em" })}
            />
          </p.a>
          <p.a href="https://github.com/nasubi-dev" target="_blank">
            <GithubIcon
              width="32px"
              height="32px"
              fill="currentColor"
              class={css({ margin: "0 0.5em" })}
            />
          </p.a>
        </HStack>
      </p.div>
    </HStack>
  </nav>
</header>
