---
import { type Heading } from "@/type";
import { styled as p } from "@styled-system/jsx";

type Props = {
  headings: Heading[];
};
const { headings } = Astro.props;
---

<p.div padding={4} background="nsb.bg-on" borderRadius="lg" minWidth="300px">
  {
    headings.length > 1 && (
      <nav>
        <h2>目次</h2>
        <ul>
          {headings.map((heading) => (
            <li>
              <a href={`#${heading.slug}`}>{heading.text}</a>
            </li>
          ))}
        </ul>
      </nav>
    )
  }
</p.div>
