---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
import { ContentContainer } from "@/components/common/ContentContainer";

// createdAtã¯
const posts = (await getCollection("products")).sort(
  (a, b) => new Date(b.data.createdAt).getTime() - new Date(a.data.createdAt).getTime()
);
---

<BaseLayout>
  <ContentContainer widthLimit>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/products/${post.id}/`}>
              <img src={post.data.thumbnail} alt="" />
              <h4 class="title">{post.data.title}</h4>
              <p class="date">
                <FormattedDate date={post.data.createdAt} />
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </ContentContainer>
</BaseLayout>
