---
import FormattedDate from "@/components/FormattedDate.astro";
import TableOfContents from "@/components/TableOfContents.astro";
import { css } from "@styled-system/css";

type Heading = {
  depth: number;
  text: string;
  slug: string;
};

type Props = {
  headings?: Heading[];
  id: string;
  title: string;
  slug: string;
  author: string;
  description?: string | null;
  createdAt: Date;
  updatedAt?: Date;
  tags?: string[] | null;
  thumbnail?: string | null;
  icon?: string | null;
};

const {
  headings,
  id,
  title,
  slug,
  author,
  description,
  createdAt,
  updatedAt,
  tags = [],
  thumbnail,
  icon,
} = Astro.props;
---

<div class={css({ width: "100%" })}>
  <div>
    <div class="date">
      <FormattedDate date={createdAt} />
      {
        updatedAt && (
          <div class="last-updated-on">
            Last updated on <FormattedDate date={updatedAt} />
          </div>
        )
      }
    </div>
    <h1>{title}</h1>
    <hr />
  </div>

  <!-- 目次の追加 -->
  {headings && headings.length > 0 && <TableOfContents headings={headings} />}
  <slot />
</div>
