---
import FormattedDate from "@/components/FormattedDate.astro";
import TableOfContents from "@/components/TableOfContents.astro";
import { css } from "@styled-system/css";
import type { Heading, Product, Post } from "@/type";

type Props =
  | (Product & {
      headings: Heading[];
      icon?: string | null;
    })
  | (Post & {
      headings: Heading[];
      thumbnail?: string | null;
    });

const {
  headings,
  id,
  title,
  slug,
  author,
  description,
  createdAt,
  updatedAt,
  tags = [],
  thumbnail = null,
  icon = null,
} = Astro.props;
---

<div class={css({ width: "100%" })}>
  <div>
    <div class="date">
      <FormattedDate date={createdAt} />
      {
        updatedAt && (
          <div class="last-updated-on">
            Last updated on <FormattedDate date={updatedAt} />
          </div>
        )
      }
    </div>
    <h1>{title}</h1>
    <hr />
  </div>

  <!-- 目次の追加 -->
  {headings && headings.length > 0 && <TableOfContents headings={headings} />}
  <slot />
</div>
